.review {padding-bottom: 5px;}
.panel-body.review-container {padding-top: 0;}
.review-header {margin-bottom: 10px;}
.reviewAuthor {margin: 0 5px;}
.reviewTimestamp {color: #e95420;}
#filter {margin-left: 4px;}
.rating-stars {margin-left: 3px;}
.label-facility {margin-right: 2px}
