//
   Created by Yusuf on 19-7-2016.

extends layout
block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
                h1= title
    .row
        .col-md-6.col-sm-12
            p !{(content).replace(/\n/g, '<br/>')}