doctype html
html(ng-app='loc8rApp')
		head
				meta(name='viewport', content='width=device-width, initial-scale=1.0')
				title= title
				link(rel='stylesheet', href='/bootstrap/css/united.bootstrap.min.css')
				link(rel='stylesheet', href='/stylesheets/style.css')
		body
				.navbar.navbar-default.navbar-fixed-top
						.container
								.navbar-header
										a.navbar-brand(href='/') Loc8r
										button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
												span.icon-bar
												span.icon-bar
												span.icon-bar
								#navbar-main.navbar-collapse.collapse
										ul.nav.navbar-nav
												li
														a(href='/about/') About

				.container
						block content

						footer
								.row
										.col-xs-12
												small &copy; Yusuf 2016
												
				script(src='/angular/angular.min.js')
				script(src='/angular/loc8rapp.js')
				script(src='/javascripts/jquery-1.11.3.js')
				script(src='/bootstrap/js/bootstrap.min.js')
				script(src='/javascripts/validation.js')
