//
	 Created by Yusuf on 19-7-2016.
extends layout

include _includes/sharedHTMLfunctions

block content
		//Start with header
		.row.page-header
				.col-lg-12
						h1= pageHeader.title
		.row
				.col-xs-12.col-md-9
						.row
								.col-xs-12.col-sm-6
										p.rating
												+outputRating(location.rating)
										p= location.address
												.panel.panel-primary
														.panel-heading
																h2.panel-title Opening hours
														.panel-body
																each time in location.openingTimes
																		p
																				| #{time.days} :
																				if time.closed
																						| closed
																				else
																						| #{time.opening} - #{time.closing}

												.panel.panel-primary
														.panel-heading
																h2.panel-title Facilities
														.panel-body
																each facility in location.facilities
																		span.label.label-warning
																				span.glyphicon.glyphicon-ok
																				| &nbsp;#{facility}
																		| &nbsp;

								.col-xs-12.col-sm-6.location-map
										.panel.panel-primary
												.panel-heading
														h2.panel-title Location map
												.panel-body
														img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=#{location.coords.lat},#{location.coords.lng}&zoom=17&size=400x350&sensor=false&markers=#{location.coords.lat},#{location.coords.lat}&scale=2&key=AIzaSyDM6DUEVLDVxHoOzjRFngfhixbUj2W-wCs')
						.row
								.col-xs-12
										.panel.panel-primary.review-panel
												.panel-heading
														a.btn.btn-default.pull-right(href='/location/#{location._id}/reviews/new') Add review
														h2.panel-title Customer reviews
												.panel-body.review-container
														each review in location.reviews
																.row
																		.review
																				.well.well-sm.review-header
																						span.rating
																								+outputRating(review.rating)
																						span.reviewAuthor #{review.author}
																						small.reviewTimestamp 
																							+formatDate(review.createdOn)
																				.col-xs-12
																						p !{(review.reviewText).replace(/\n/g, '<br/>')}


				.col-xs-12.col-md-3
						p.lead #{location.name} #{sidebar.context}
						p= sidebar.callToAction
