//
	 Created by Yusuf on 19-7-2016.

mixin outputRating(rating)
		- for(var i = 1; i <= rating; i++)
				span.glyphicon.glyphicon-star
		- for(i = rating; i < 5; i++)
				span.glyphicon.glyphicon-star-empty
				
mixin formatDate(dateString)
	-var date = new Date(dateString);
	-var monthNames = [ "January", "February", "March", "April", "May", "June",	"July", "August", "September", "October", "November", "December"];
	-var d = date.getDate();
	-var m = monthNames[date.getMonth()];
	-var y = date.getFullYear();
	-var output = d + ' ' + m + ' ' + y;
	=output				
